*.iml
.kotlin
.gradle
**/build/
**/ghostgram_tdlib_data*/
**/ghostgram_accounts.json
ghostgram_accounts.json
*.binlog
*.sqlite*
*.db*
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# Логи падения JVM
hs_err_pid*.log

# Кэш инспектора Android Studio
*.asdb

# Папка с готовыми релизами APK (они живут только в GitHub Releases)
androidApp/release/
**/release/*.apk
**/release/*.dm
**/release/*.json